body {
    padding-bottom:100px;
}
footer {
    background-color: #212529;
    color: white;
    position: fixed;
    bottom: -10px;
    left: 0;
    width: 100%;
}
p {
    margin-top:-10px;
    position: relative;
    top: 10px;
    left: 20px
}
