<!DOCTYPE html>
@section AuthStatus{
    <a style="position:absolute; right:20px" class="nav-link">
        <img src="~/Content/Img/OfflineImg.png" width="30" />
    </a>
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>You are not Admin</title>
    <link rel="stylesheet" href="~/Bootstrap/bootstrap.min.css" type="text/css" />
</head>
<body style="background-color:blueviolet;">
    <div style="text-align:center; position:relative; top:100px">
        <h2 style="color:white">Sorry, but you are not admin</h2>
        <a href="/Home/Index" style="position:relative; width:180px;" class="btn btn-success">Next</a>
    </div>
</body>
</html>