@model WebProgram.Models.Users.IndexViewModel
<!DOCTYPE html>
@section AuthStatus{
    @Html.Partial("_AuthPartial", new WebProgram.Models.Shared.AuthModel() { CurrentUser = Model.CurrentUser })
}
<html>
<head>
    <title>Update</title>
    <link rel="stylesheet" href="~/Bootstrap/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Login.css" type="text/css" />
</head>
@using (Html.BeginForm())
{
    <body>
        <div class="contr">
            <h2>Update</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Id</span>
                </div>
                <input type="text" class="form-control" placeholder="Id" name="Id" aria-label="Id" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Name" name="Name" aria-label="Name" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" class="form-control" placeholder="Email" name="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                </div>
                <input type="password" class="form-control" placeholder="Password" name="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div>
                <button class="btn btn-success">Update</button>
            </div>
        </div>
    </body>
}
</html>

